/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100dvw;
    text-align: center;
    margin: 0 auto;
    color: rgb(47, 45, 45);
}

.title {
    background: linear-gradient(rgb(81, 124, 109, 0.5), rgb(152, 83, 99, 0.5));
    padding: 15px;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;
    padding: 18px 0;
    font-size: large;
    font-weight: 700;
    height: 250px;
    width: 25%;
    border: 2px solid pink;
}

#priceResult {
    bottom: 25px;
    min-width: 50%;
    min-height: 25%;
    border: solid 2px grey;
}