/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, rgb(84, 23, 198), rgb(55, 73, 194));
    background-size: auto;
}

.container {
    width: 100dvw;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.title {
    padding: 15px;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;
    padding: 18px 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    height: 300px;
    width: 200px;
    border: 2px solid rgb(185, 184, 242);
    border-radius: 25px;
    background-color: whitesmoke;
    color: grey;
}

#priceResult {
    width: 75%;
    height: 90px;
    border: solid 2px grey;
    background-color: azure;
    line-height: 90px;
    border-radius: 20px;
}

.ticket-details {
    font-size: 15px;
    text-transform: initial;
    color: grey;
}